span.ant-tag.positive {
    background: #93E4B9;
    color: #1D834C;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}

span.ant-tag.negative {
    background: #FC9393;
    color: #975454;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}


span.ant-tag.neutral {
    background: #FFE8C7;
    color: #948166;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}

